.intern{
    padding: 70px 0px;
    margin:50px 0px;
    margin-left: 120px;
    background:#dbd6d6;
    box-shadow: 0px 4px 8px 0px #757575;
    color: black;
}

.intern hr{
    padding-left: 230px;
    color: #138781; 
    width: 400px;
    margin: 12px 230px;
} 

.intern h2{
    padding-right: 260px;
    font-weight: bold;
    color: #91a7a7 ;
}
.btn-cv{
    background-color: #3baff3;
    width: 110px;
}
#dark .intern{
    background-color: #a28d8d2b;
    color: white;
}
#dark p{
    color: white;
}


@media (max-width:600px) {
    .intern{
       margin: 0;
       padding: 0;
       margin-top: 30px;
     }
     .intern h2{
       padding-top: 20px;
       margin-left: 120px;
     }
     .intern .intern-exp hr{
        width: 350px;
        margin-left: 80px;
     }
   }