
*{
    padding: 0%;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    background-color: #eaf0f2;
}
header{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 300px;
    font-size: 35px;
}
header h2{
    color: #f0525f;
}
header span{
    color: #eaa03f;
}

footer{
    position: fixed;
    bottom: 0;
}
@media (max-height:800px) {
    footer{
        position: static;
    }
    header{
        padding-top: 40px;
    }
}

.footer-distributed{
    background-color: #2d2a30;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    color: #fff;
    border-radius: 20px 20px 0px 0px;
}
.footer-distributed .footer-left .footer-distributed .footer-center .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;

}
.footer-distributed .footer-left {
    width: 30%;

}
.footer-distributed h3{
    color: #fff;
    font: normal 36px 'cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color: #e0ac1c;
} 
.footer-distributed .footer-links{
    color: #fff;
    margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-copy{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center .icon{
    background-color: #33383b;
    color: #ffff;
    font-size: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center .icon{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffff;
    vertical-align: middle;
    margin: 0;
}