.sidebar-section{
   display: flex;
   background-image: url(https://as1.ftcdn.net/v2/jpg/03/23/92/96/1000_F_323929694_BKkGKE8dWIWqpG91tzYFC3GHPNdjg6mh.jpg);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
.sidebar{
    height: 100vh;
    background-color: #0e181a;
    width: 90px;
    position: fixed;
}
.sidebar-toggle{
    width: 230px;
}

.sidebar-toggle-icons{
    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;
}

.sidebar-toggle-icons p svg{
    background-color: #f29f67;
    color: white;
    margin-top: 30px;
}

/* ========Mobile View====== */

@media (max-width: 600px) {
    .sidebar{
        display: none;
    }
}