.home-container{
    height: 280px;
    color: white;
    padding-left: 140px;
}
.home-content h2{
    padding: 5px;
    padding-top: 50px;
}
.home-content h1{
    padding:5px;
    color: #e0b50f;
}

.home-buttons .btn-hire{
    background-color: #3baff3;
    width: 110px;
}
.home-buttons .btn-cv{
    background-color: #f7ae5b;
    margin-left: 20px;
    width: 110px;
}

.theme-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    right: 0;
    position: fixed;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

@media (max-width: 600px) {
    .home-container {
      padding: 0;
      margin: 0;
      margin-top: 50px;
    }
    .home-container h2 {
      font-size: 24px;
    }
    .home-container h1 {
      font-size: 24px;
    }
  }