.home-container{
    height: 280px;
    color: white;
    padding-left: 140px;
}
.home-content h2{
    padding: 5px;
    padding-top: 50px;
}
.home-content h1{
    padding:5px;
    color: #e0b50f;
}

.home-buttons .btn-hire{
    background-color: #3baff3;
    width: 110px;
}
.home-buttons .btn-cv{
    background-color: #f7ae5b;
    margin-left: 20px;
    width: 110px;
}
